  @import url("https://use.typekit.net/hsa8rpv.css");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #FF3CC5, #FBD6E3, #B0E3F5, #CBF5B0);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#name1, #name2, #bday, #addr, #sex, #eye, #height {
  font-family: roc-grotesk, sans-serif;
}

.header {
  padding-top: 10vh;
  padding-bottom: 4vh;
  z-index: 0;
  width: 60vw;
}

input {
  margin: 3px;
  padding: 8px;
  z-index:5;
  border: none;
  border-radius: 5%;
}

button {
  cursor: pointer;
  background-color: transparent;
  width: 13.5rem;
  border-radius: 5%;
  padding: 10px;
  border: none;
  margin-top: 15px;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: -1.3rem;
}

button:hover {
  filter: hue-rotate(75deg);
}

.create {
  width: 200px;
}

.calicard {
  margin-top: -1.5rem;
  background: url(drawings/California_ID.png) center no-repeat;
  background-size: contain;
  display: none;
  width: 650px;
  height: 400px;
  border-radius: 6%;
  filter: drop-shadow(5px 5px 5px grey);
}

.nycard {
  margin-top: -1.5rem;
  background: url(drawings/NewYork_ID.png) center no-repeat;
  background-size: contain;
  display: none;
  width: 650px;
  height: 400px;
  border-radius: 6%;
  filter: drop-shadow(5px 5px 5px grey);
}

.hawaiicard {
  margin-top: -1.5rem;
  background: url(drawings/Hawaii_ID.png) center no-repeat;
  background-size: contain;
  display: none;
  width: 650px;
  height: 400px;
  border-radius: 6%;
  filter: drop-shadow(5px 5px 5px grey);
}

#form {
  flex-direction: column;
  margin-right: -4rem;
}

#img {
  margin-left: -0.7rem;
  color: white;
}

.output {
  position: absolute;
  margin-top: -14rem;
  margin-left: 3rem;
  height: 210px;
  width: 165px;
  object-fit: cover;
  z-index: 10;
}

.output2 {
  filter: grayscale(100%) opacity(50%);
  position: absolute;
  height: 110px;
  width: 90px;
  margin-left: 31.5rem;
  margin-top: -10rem;
  object-fit: cover;
  z-index: 9;
}

.firstname {
  font-size: 21px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #d90054;
  z-index: 5;
  margin-top: 10.4rem;
  margin-left: 16rem;
  text-transform: uppercase;
}

.lastname {
  font-size: 21px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #d90054;
  z-index: 5;
  margin-top: -4.5rem;
  margin-left: 16rem;
  text-transform: uppercase;
}

.birth {
  font-size: 20px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #d90054;
  z-index: 5;
  margin-top: 4.3rem;
  margin-left: 16.8rem;
}

.addy {
  font-size: 19px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #d90054;
  z-index: 5;
  margin-top: -5rem;
  margin-left: 16rem;
  text-transform: uppercase;
}

.sex1 {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #418500;
  z-index: 5;
  margin-left: 16.5rem;
  margin-top: 6rem;
  text-transform: uppercase;
}

.eyeco {
  position: absolute;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #418500;
  z-index: 6;
  margin-top: -2.5rem;
  margin-left: 28rem;
  text-transform: uppercase;
}

.height1 {
  position: absolute;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #418500;
  z-index: 10;
  margin-left: 22.7rem;
  margin-top: -2.5rem;
  text-transform: uppercase;
}

.sign {
  font-size: 28px;
  font-family: p22-cezanne-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5rem;
  margin-top: -1rem;
}

.cali:hover, .ny:hover, .hawaii:hover {
  filter: invert(100);
}

.cali {
  cursor: pointer;
  display: none;
  color: white;
  font-size: 20px;
  font-family:roc-grotesk, sans-serif;
  text-align: center;
  border: 1px solid white;
  border-radius: 45%;
  padding: 10px;
  margin-right: 30rem;
  z-index: 10;
}

.ny {
  cursor: pointer;
  display: none;
  margin-top: -4.35rem;
  color: white;
  font-size: 20px;
  font-family:roc-grotesk, sans-serif;
  text-align: center;
  border: 1px solid white;
  border-radius: 45%;
  padding: 10px;
  z-index: 10;
}

.hawaii {
  cursor: pointer;
  display: none;
  margin-left: 30rem;
  margin-top: -4.35rem;
  color: white;
  font-size: 20px;
  font-family:roc-grotesk, sans-serif;
  text-align: center;
  border: 1px solid white;
  border-radius: 45%;
  padding: 10px;
  z-index: 10;
}

@media only screen and (max-width: 700px) {

  input {
    width: 50vw;
    height: 3vh;
  }

  form {
    margin-left: -19vw;
  }

  .header {
    margin-top: 3vh;
    width:90vw;
  }
